body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  background-color: #181818;
}

h1 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 80%;
  font-size: 500%;
  color: white;
}

.wordoption{
  display: flex;
  flex-direction: column; /* label과 select를 세로 배치 */
  align-items: center;     /* 가로 가운데 */
  margin-top: 5%;
}

select {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

.open-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -350px; /* 처음엔 완전히 숨김 */
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}