@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  font-weight: bold; /* 확인 필요 */
  box-sizing: border-box;
}

body {
  margin: 10px;
  padding: 0;
  background-color: #181818;
}

h1, h3 {
  text-align: center;
  color: white;
}

h1 {
  margin: 3% 0 10%;
  font-size: 5vw;
}

h3 {
  margin: 5% 0 18%;
  font-size: 3vw;
}

.mainbtn {
  margin-top: 8%;
  display: flex;
  justify-content: center;  
  gap: 2%;               
  flex-wrap: wrap;
}

#selectAllBtn, #deselectAllBtn, #startAllBtn {
  background-color: #181818;
  color: #66cc33;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.wordoption {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  border: 2px double white;
}

.item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  color: black;
}

select {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
}

.open-btn, .close-btn {
  width: 40px;
  height: 40px;
  background-image: url("pic/butt1-noogi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar.active{
  left: 0;
}

.sidebar-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;           
  padding: 20px;           
  box-sizing: border-box;
}

.okBtn {
  padding: 1em 2em;
  font-size: 1rem;
  background-color: #333;
  color: #66cc33;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}