<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>영어 수행 연습</title>
  <link rel="stylesheet" href="../static/css/style.css"/>
  <link rel="stylesheet" href="../static/css/responsive.css"/>
</head>

<body>
  <div id="sbarpart">
    <!-- 사이드바 토글 -->
    <button id="sidebarToggle" class="open-btn" type="button" onclick="toggleSidebar()"></button>

    <!-- 사이드바 -->
    <aside class="sidebar" id="sidebar" aria-hidden="true">
      <button class="close-btn" type="button" aria-label="사이드바 닫기" onclick="closeSidebar()"></button>
      <h2>단<span style="color: #35b3f2;">어</span>장 by <span style="color: #35b3f2;">;</span></h2>
      <hr style="width:auto;height:2px;background-color:#555555;border:none" />

      <!-- flask 라우트?(oo)-->
      <form action="{{ url_for('main_page') }}" method="get">
        <button class="Reselect" type="submit">DAY 재선택</button>
      </form>

      <form action="{{ url_for('odap') }}">
        <button class="Review" type="submit">오답복습</button>
      </form>

      <form action="{{ url_for('words') }}">
        <button type="submit">단어장 바로가기</button>
      </form>

      <form action="{{ url_for('logout') }}">
        <button class="Logout" type="submit">로그아웃</button>
      </form>
    </aside>

    <!-- 오버레이 -->
    <div id="sidebarOverlay" class="sidebar-overlay" aria-hidden="true"></div>
  </div>

  <div id="mainpart">
    <div class="home-wrap">
      <h1>welc<span style="color:#35b3f2;">o</span>me!</h1>

      <form id="goStart"></form>
       <!--날짜들-->
      <div class="day-select">
        <input type="checkbox" id="word17">
        <label for="word17">
          17
        </label>
        <input type="checkbox" id="word18">
        <label for="word18">
          18
        </label>
        <input type="checkbox" id="word19">
        <label for="word19">
          19
        </label>
        <input type="checkbox" id="word20">
        <label for="word20">
          20
        </label>
        <input type="checkbox" id="word21">
        <label for="word21">
          21
        </label>
        <input type="checkbox" id="word22">
        <label for="word22">
          22
        </label>
        <input type="checkbox" id="word23">
        <label for="word23">
          23
        </label>
        <input type="checkbox" id="word24">
        <label for="word24">
          24
        </label>
        <input type="checkbox" id="word25">
        <label for="word25">
          25
        </label>
        <input type="checkbox" id="word26">
        <label for="word26">
          26
        </label>
        <input type="checkbox" id="word27">
        <label for="word27">
          27
        </label>
        <input type="checkbox" id="word28">
        <label for="word28">
          28
        </label>
        <input type="checkbox" id="word29">
        <label for="word29">
          29
        </label>
        <input type="checkbox" id="word30">
        <label for="word30">
          30
        </label>
      </div>
      </div>
    </div>
  </div>

  <h5 style="color:#555555;">
    made by 정빈, 범서, 예강, 상혁, 승민, 종호, 하윤 / 오류문의 : 인스타 an0_9jb(오류난 화면을 찍어서 보내주세요)
  </h5>

  <!-- JS 로드 -->
  <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/index.js')}}"></script>
</body>
</html>
