<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영어 수행 만점 가자</title>
    <!-- Flask 정적 파일 불러오기 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flash-container">
        {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}

   <div id="mainpart">
        <!-- 홈 화면 제목 -->
        <h1>welc<span style="color: #66cc33;">o</span>me!</h1>
    </div>

    <div class="loginpart" style="align-items: center; text-align: center;">
            <div class="loginbox">
                <h2>Login</h2>
                <form action="{{ url_for('login') }}" method="post">
                    <input type="text" name="username" placeholder="학번" required>
                    <input type="password" name="password" placeholder="비밀번호" required>
                    <button type="submit">Login</button>
                </form>
                <form action="{{ url_for('signup') }}">
                    <button type="submit" style="background-color:white;">Signup</button>
                </form>
            </div>
        </form>
            
    </div>

    <h5 style="color: #555555;">
        made by 정빈, 범서, 예강, 상혁, 승민, 종호, 하윤 <br>
        오류문의 : 인스타 an0_9jb (오류난 화면을 찍어서 보내주세요)
    </h5>

    <!-- 자바스크립트도 url_for 사용 -->
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</body>
</html>
