<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세미콜론 단어장</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.png">
    <link rel="stylesheet" href="./wb.css">
</head>
<body>
    <!-- sidebar -->
    <div>
        <input type="checkbox" id="menuicon">
        <label for="menuicon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <div class="logo">SEMICOLON</div>
            <div class="sidelinks">
                <div id="linktologin">로그인</div>
                <div id="linktomain">단어 테스트</div>
                <div id="dayselectheader">DAY 선택</div>
            </div>
            <div class="dayselect">
                <div class="dayline1">
                    <div id="day17">17</div>
                    <div id="day18">18</div>
                    <div id="day19">19</div>
                    <div id="day20">20</div>
                </div>
                <div class="dayline2">
                    <div id="day21">21</div>
                    <div id="day22">22</div>
                    <div id="day23">23</div>
                    <div id="day24">24</div>
                </div>
                <div class="dayline3">
                    <div id="day25">25</div>
                    <div id="day26">26</div>
                    <div id="day27">27</div>
                    <div id="day28">28</div>
                </div>
                <div class="dayline4">
                    <div id="day29">29</div>
                    <div id="day30">30</div>
                    <div id="starred">★</div>
                </div>
            </div>
        </div>
        <form action="{{ url_for('main_page') }}">
            <button type="submit" style="background-color:white;">돌아가기</button>
        </form>
    </div>
    <!-- Main Screen -->
    <div class="wordblock">
        <div class="wordcontainer">
            <header>
                <div class="word">semicolon</div>
                <div class="wordnum">1234</div>
            </header>
            <div class="examplecontainer">

            </div>

            <div class="exampleblock">
                <div class="meaning">운정고 코딩동아리
                    <span class="star">☆</span>
                </div>
                <div class="esentence"><span>Semicolon</span> is better than any other club in UJHS.</div>
                <div class="ksentence">세미콜론은 최고다.</div>
                <div class="meaning">온점과 반점
                    <span class="star active">★</span>
                </div>
                <div class="esentence"><span>Semicolon</span> is composed of the break and the end.</div>
                <div class="ksentence">세미콜론은 쉼표와 마침표로 구성되어 있다.</div>
            </div>
        </div>
    </div>
    <div class="unselected">
        <div id="plzselect">
            DAY가 선택되지 않았습니다
        </div>
    </div>
    <script src="../static/javascript/wb.js"></script>
</body>
</html>
</html>
