<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세미콜론 단어장</title>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="wb.css">
</head>
<body>
    <div>
        <input type="checkbox" id="menuicon">
        <label for="menuicon">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="sidebar">
            <div class="logo">SEMICOLON</div>
            <div class="sidelinks">
                <div id="linktologin">로그인</div>
                <div id="linktomain">단어 테스트</div>
                <div id="dayselectheader">DAY 선택</div>
            </div>
            <div class="dayselect">
                
            </div>
        </div>
    </div>
</body>
</html>